<?xml version="1.0" encoding="gbk"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.ecpss.model.user.User</value>				
			    <value>com.ecpss.model.payment.InternationalTradeinfo</value>	
			    <value>com.ecpss.model.payment.InternationalCardholdersInfo</value>
			    <value>com.ecpss.model.payment.HuakuanedException</value>
			    <value>com.ecpss.model.payment.InternationalBalanceDay</value>
			    <value>com.ecpss.model.payment.InternationalSettlment</value>
			    <value>com.ecpss.model.payment.TradeDetails</value>
			    <value>com.ecpss.model.payment.ViewSettlement</value>	
			    <value>com.ecpss.model.payment.InternationalBailhuakuan</value>		
			    <value>com.ecpss.model.payment.InternationalCreateBaihuakuan</value>		    		    				
				<!-- ******************************nsy*********************************** -->	
				<value>com.ecpss.model.permissions.Resource</value>				
				<value>com.ecpss.model.permissions.Role</value>				
				<value>com.ecpss.model.permissions.RoleResource</value>				
				<value>com.ecpss.model.permissions.RoleUser</value>	
				<value>com.ecpss.model.channel.InternationalChannels</value>	
				<value>com.ecpss.model.channel.InternationalMerchantChannels</value>
				<value>com.ecpss.model.channel.ShpoChannels</value>		
				<value>com.ecpss.model.shop.InternationalExchangerate</value>
				<value>com.ecpss.model.shop.InternationalMerchant</value>
				<value>com.ecpss.model.shop.InternationalMoneykindname</value>
				<value>com.ecpss.model.shop.InternationalWebchannels</value>
				<value>com.ecpss.model.shop.InternationalMerchantCurrency</value>
                <value>com.ecpss.model.shop.InternationalTradecondition</value>   				
				<value>com.ecpss.model.permissions.RoleUser</value>
                <value>com.ecpss.model.log.SystemLog</value>							
				<value>com.ecpss.model.shop.InternationalMerchant</value>									
				<value>com.ecpss.model.shop.InternationalTerminalManager</value>									
				<value>com.ecpss.model.channel.InternationalMigsMerchantNo</value>									
				<value>com.ecpss.model.shop.InternationalTradecondition</value>	
				<value>com.ecpss.model.shop.OperaResource</value>									
				<value>com.ecpss.model.shop.ShopOpera</value>	
                <value>com.ecpss.model.shop.InternationalChargeBack</value>				
				<value>com.ecpss.model.shop.SettlementCycleTime</value>	
				<value>com.ecpss.model.shop.InternationalAgentsMerchant</value>			
				<value>com.ecpss.model.shop.InternationalPayVersion</value>		
				
				<value>com.ecpss.model.shop.InternationalExpress</value>
				<value>com.ecpss.model.payment.InternationalTradeRun</value>
																	
				<!-- ******************************zmw*********************************** -->
					
					
				<!-- ******************************yepeng*********************************** -->		
			    <value>com.ecpss.model.complaint.InternationalComplaintsContent</value>
			    <value>com.ecpss.model.complaint.InternationalComplaintsManager</value>	
				<value>com.ecpss.model.channel.InternationalChannels</value>
			    <value>com.ecpss.model.channel.InternationalMerchantChannels</value>
			    <value>com.ecpss.model.cardtype.InternationalCreditCardType</value>
				<value>com.ecpss.model.shop.InternationalMerchantManager</value>
			    <value>com.ecpss.model.cardtype.InternationalMerCreditCard</value>
			    <value>com.ecpss.model.refund.InternationalRefundManager</value>
			    <value>com.ecpss.model.refund.InternationalRefundHistory</value>
			    <value>com.ecpss.model.risk.InternationalBacklist</value>
			    <value>com.ecpss.model.risk.InternationalRisklist</value>
			    <value>com.ecpss.model.FileManager</value>
			    <value>com.ecpss.model.shop.InternationalMailInfo</value>
			    <value>com.ecpss.model.shop.InternationalTwoDispose</value>
			    <value>com.ecpss.model.MerchantRiskControl</value>
			    <value>com.ecpss.model.complaint.InternationalComplaintVisamaster</value>	
			    <value>com.ecpss.model.shop.InternationalMerchantTerminal</value>
			    <value>com.ecpss.model.shop.InternationalIsAuditWeb</value>
			    <value>com.ecpss.model.affiche.AfficheManager</value>
			    <value>com.ecpss.model.risk.InternationalSensitiveInfo</value>
			    <value>com.ecpss.model.risk.InternationalHighRisklist</value>
			    <value>com.ecpss.model.payment.InternationalTemporaryTradInfo</value>
			    <value>com.ecpss.model.permissions.InternationalMerchantSucRate</value>	
			    <value>com.ecpss.model.risk.InternationalBackMaxMind</value>
			    <value>com.ecpss.model.risk.InternationalRiskItems</value>
			    <value>com.ecpss.model.risk.InternationalWhitelist</value>
			    <value>com.ecpss.model.payment.InternationalURLChannel</value>		
			</list>
		</property>
      <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.default_batch_fetch_size">60</prop>
				<prop key="hibernate.jdbc.use_reflection_optimizer">true</prop>
				<prop key="hibernate.jdbc.use_scrollable_resultset">false</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.connection.release_mode">after_statement</prop>
			</props>
       </property>
	</bean>
</beans>
