* {padding:0px;
margin:0px;}
body {font-family:Arial,Tahoma,Georgia,SimSun;
font-size:13px;color:#333333;
background:#FFFFFF; /**url("img/sfebodyi1.png") repeat-y top center**/
background-attachment:fixed;}
h2 {font-size:15px;}
h3 {font-size:15px;}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
 li {list-style: none;}
img{list-style: none;border:0;}

.header,.page,.footer,#nav{margin:0 auto;width:980px;overflow: hidden;}

.header{background:url("img/sfeio.png") no-repeat 0px -621px;}
#logo{padding:5px 0 5px 30px;float:left;}
#topm{float:left;padding:21px 0px 0px 90px;}
#topjoin{float:right;padding:37px 20px 0 70px;}
#topjoin li{float:left;}
.topone {background:url("img/sfeio.png") no-repeat 0px -501px;padding-left:20px;color:#FD5200;}
.topone a:link{color:#FD5200;}
.topone a:visited{color:#FD5200;}
.toptwo {
background:url("img/sfeio.png") no-repeat 0px -463px;
margin-left:20px;
margin-top:-4px;
height:23px;
width:47px;}
.toptwo a{display:block;
 text-indent: -9999px;width:100%;height:100%;}

/*** nav **/
#nav {float:left;}
#nav li{width:140px;float:left;text-align: center;height:33px;line-height:33px;}
#nav li a{font-family:Microsoft YaHei;color:#ffffff;font-size:15px;width:100%;height:100%;}
#nav a:hover{float:left;width:140px;height:32px;}
#nav a{float:left;width:140px;height:32px;}
.nav1,.nav2,.nav3,.nav7{background:url("img/sfeio.png") no-repeat 0px -85px;}

.nav4,.nav5{background:url("img/sfeio.png") no-repeat 0px -46px;}
.nav6{background:url("img/sfeio.png") no-repeat 0px 0px;}

#nav li.nav1:hover,#nav li.nav2:hover,#nav li.nav3:hover,#nav li.nav7:hover,#nav li.pnav1:hover,#nav li.pnav2:hover,#nav li.pnav3:hover,#nav li.pnav7:hover{background:url("img/sfeio.png") no-repeat -583px -93px;}
#nav li.nav4:hover,#nav li.nav5:hover,#nav li.pnav4:hover,#nav li.pnav5:hover{background:url("img/sfeio.png") no-repeat -583px -46px;}
#nav li.nav6:hover,#nav li.pnav6:hover{background:url("img/sfeio.png") no-repeat -583px 0px;}

.pnav1,.pnav2,.pnav3,.pnav7{background:url("img/sfeio.png") no-repeat -783px -93px;}
.pnav4,.pnav5{background:url("img/sfeio.png") no-repeat -783px -46px;}
.pnav6{background:url("img/sfeio.png") no-repeat -783px 0px;}
/*** END nav **/
.left{float:left;width:239px;overflow:hidden;}

/**  pro **/

.i_pro{float:left;width:703px;}
.i_ptit{background:url("img/m_us_b_in.gif") repeat-x 0px -112px;width:337px;height:100px;border:1px solid #dddddd;}
.i_pone{float:left;width:337px;padding:5px 19px 15px 0px;}
.i_pone h2,.i_ptwo h2{padding:15px 0 0 12px;}
.i_pone p,.i_ptwo p{float:left;padding:15px;}
.i_ptwo{float:left;width:337px;padding:5px 0px 15px 5px;}

/** END pro **/

/** begin login **/
.llogin{width:259px;
height:203px;
overflow:hidden;
float:left;
background:url("img/sfeio.png") no-repeat 0px -126px;
margin-top:13px;
margin-bottom:13px;
color:#4C6E94;
font-size:13px;
}
.llogin form p {padding:5px;}
.inbord,.lgom {border:1px solid #888585;
width:139px;
line-height: 23px;
background:url("img/sfeio.png") no-repeat -583px -150px
;height:19px;
}
.lgom{width:68px;}
.llogin input { font-size:13px;}
.llogin form{
padding:30px 5px 2px 17px;
}
#mimal{
font-size:14px;
}
.insub {
background:url("img/sfeio.png") no-repeat 0px -547px;
text-indent: -9999px;
width:53px;
height:21px;
cursor: pointer;
border:0;
margin-top:5px;
float:left;
margin-left:33px;
}
.insub:hover{background:url("img/sfeio.png") no-repeat 0px -583px;}

.le_help{border:1px solid #DDDDDD;
float:left;
width:237px;
padding-bottom:10px;
background:url("img/sfeio.png") no-repeat -253px -126px;
padding-top:24px;
margin-bottom:10px;
}
.le_news{
border:1px solid #DDDDDD;
float:left;
width:237px;
background:url("img/sfeio.png") no-repeat -583px -203px;
padding-top:24px;
padding-bottom:10px;
margin-bottom:10px;
}
.le_help ul,.le_news ul{padding:10px 0px;}
.le_help li,.le_news li{float:left;
width:176px;overflow: hidden;
font-size:14px;
height:27px;
line-height: 27px;
padding:0px 2px 0px 56px;
background:url("img/sfeio.png") no-repeat 30px -421px;
}
.le_help li a,.le_news li a{text-decoration: underline;color:#6f6f70;font-size:13px;}
.le_help li a:visited,.le_news li a:visited{text-decoration: underline;color:#6f6f70;font-size:13px;}
.le_help li a:hover,.le_news li a:hover{text-decoration: none;color:#000000;}
 

.main{
margin:13px 0 5px 30px;
width:703px;
overflow:hidden;
float:left;
}

.banner{float:left;width:703px;height:203px;overflow:hidden;}
.m_us {padding:0px 0px 10px 0px;margin:15px 0px 10px 0px;border:1px solid #DDDDDD;float:left;
background:url("img/m_us_b_in.gif") repeat-x;
position:relative;
}
.m_us li{float:left;width:701px;font-size:13px;color:#6F6F70;padding-top:10px;}
.m_us p{
text-indent:23px;line-height:25px;
padding:3px 0 0 17px;
width:500px;
float:left;
}
.m_us h2{
padding:7px;
float:left;
width:17px;
height:70px;
font-size:13px;
}
.m_us li img{border:1px solid #E9E9E9;padding:3px;}
.m_us b a{text-decoration: underline;}
.m_us b a:visited{text-decoration: underline;}
.m_pro,.m_proup{float:left;}
.m_pro {width:300px; padding-right:5px;}
.m_pro h2{padding:3px 0px;color:#2f8b2f}
.m_pro li{padding:5px 5px 25px 21px;font-size:13px;color:#333333;}
.m_pro li img{padding:0px 5px;}

.m_proup{width:400px;}
.m_proup h2{padding:3px 0px;color:#2f8b2f}
.m_proup ul{padding:0 5px;}
.m_proup li{padding:5px 5px 19px 21px;font-size:13px;color:#333333;
background:url("img/eg_arrow.gif") no-repeat left 9px;
}
.safeli,.fastli,.easyli{font-weight:bold;}
.safeli{color:#002598;}
.fastli{color:#2f8b2f;}
.easyli{color:#FF6207;}

/** ul li **/
#m_proup{
float:left;
overflow:hidden;
width:701px;
height:55px;
border-top:1px solid #DDDDDD;
border-left:1px solid #DDDDDD;
border-right:1px solid #DDDDDD;
background:url("img/m_proptb.gif") no-repeat top;
}
#m_proup p{font-weight:bold;margin:10px 0px 0px 31px;font-size:13px;}
.m_prouboot{
float:left;
width:703px;
height:5px;
background:url("img/mprop_bot.gif") no-repeat;
margin-bottom:5px;
font-size:0px;
}

#m_proupd {
border-left:1px solid #DDDDDD;
border-right:1px solid #DDDDDD;
float:left;
height:auto !important;
width:701px;
background:url("img/m_us_b_in.gif") repeat-x bottom;
padding-bottom:3px;
}
#m_proupd ul{
border-bottom:1px solid #E5E5E5;
float:left;
margin:8px 20px 4px 30px;
overflow:hidden;
width:273px;
}
#m_proupd ul img{
float:left;
}
#m_proupd li{
display:block;
float:left;
height:51px;
margin:0px 0px 0px 10px;
width:199px;
padding-bottom:15px;
}
.pupt_a{color:#278BC0;font-weight:bold;}
.pupt_p{
font-size:13px;color:#6F6F70;
}

/** END ul li **/

.m_par{float:left;width:703px;}
.m_par h2{color:#FF6207;}

.footer{height:79px;background:url("img/sfeio.png") no-repeat 0px -705px;
margin-top:13px;
padding-top:5px;
text-align:center;}
.vser{height:57px;text-align:left;padding:5px 0px 0px 0px;color:#6F6F70;}
.vser li{float:left;padding-right:20px;width:450px;line-height:25px;}

/*** about us **/
.us_us li{float:left;width:663px;padding:20px;font-size:13px;color:#676767;}
.us_us p{text-indent:24px;line-height:27px;padding-top:9px;}
.us_us li h2{margin-left:-20px;padding:3px 0px;color:#002598;}

.us_txt{
background:url("img/us_p_b_n.png") no-repeat 360px bottom;
width:690px;
height:230px;
}
.us_txt ul{width:330px;float:left;}
.us_txt li{float:left;width:403px;padding:20px;font-size:13px;color:#333333;
background:url("img/eg_arrow.gif") no-repeat 11px 40px;
height:33px;
}
.us_txt ul.us_lo{width:153px;float:left;}
.us_txt ul.us_lo li{width:153px;float:left;padding:15px 0px 20px 20px;}
.us_txt ul.us_lo img{border:1px solid #E9E9E9;padding:3px;}
/*** END about us **/

/*** choose **/
.cho_proup{
margin-top:20px;
float:left;
width:690px;
}
.cho_proup h2{
color:#002598;
padding:3px 0;
}
.cho_proup li{
float:left;
padding:60px 3px 60px 50px;
width:676px;
}
.cho_proup li.chosafe span{ color:#002598;font-weight:bold;}
.cho_proup li.chosafe{background:url("img/locked.png") no-repeat;}
.cho_proup li.chofast span{ color:#2F8B2F;font-weight:bold;}
.cho_proup li.chofast{ }
.cho_proup li.choeasy span{ color:#FF6207;font-weight:bold;}

/*** join **/
.join-rcont{float:left;padding:20px 0px 10px 0px;}
.join-rcont li{
float:left;
padding:20px;
}

/** faq **/
.faq-right li{padding:0px 0px 15px 15px;font-size:15px;}
.faq-right li h3{margin-left:-20px;}
.faq-right{width:570px;
float:left;
border-left:1px solid #5d5c5c;
padding:3px 3px 0px 10px;
}
.faq-right a:link,.faq-right a:visited,.faq-right a:active{text-decoration: underline;}
.topr29{margin-left:29px;font-weight: normal;font-size: 12px;}
/** END faq **/